{{ "<!-- About section -->" | safeHTML }}
<section class="alt-section section-about">

    {{ with .Site.Params.about.title }}<h3 id="about-us">{{ . }}</h3>{{ end }}

    <div class="white-block">
        <div class="grid-container">
            <div class="image">
                <img alt=" " src="../img/about/logo_rotaract_3.jpg"
                     style="width: 75%; border-radius: 50%;"/>
            </div>
            <div class="devise">

                {{ with .Site.Params.about.devise1 }}
                <p>{{ . | print | markdownify }}</p>
                {{ end }}
            </div>
            <div class="devise1">
                {{ with .Site.Params.about.devise2 }}
                <p>{{ . | print | markdownify }}</p>
                {{ end }}

            </div>
        </div>

        {{ with .Site.Params.about.bio }}
        <div class="blurb-main-bio">
            <p>{{ . | print | markdownify }}</p>
        </div>
        {{ end }}

        {{ with .Site.Params.about.bio_devise }}
        <div class="blurb-devise">
            <p>{{ . | print | markdownify }}</p>
        </div>
        {{ end }}
    </div>

    {{ with .Site.Params.about.bio_redirect_mail }}
    <div class="blurb-secondary-bio">
        <p>{{ . | print | markdownify }}</p>
        <p><a href="#form-title"> Retrouvez notre formulaire de contact</a></p>
    </div>
    {{ end }}


    {{ with .Site.Params.about.bio_titre_ojbectifs }}
    <div class="blurb-titre">
        <p>{{ . | print | markdownify }}</p>
    </div>
    {{ end }}
    {{ with .Site.Params.about.bio_objectifs }}
    <div class="blurb-text">
        <p>{{ . | print | markdownify }}</p>
    </div>
    {{ end }}

    {{ with .Site.Params.about.bio_titre_nous_a_blois }}
    <div class="blurb-titre">
        <p>{{ . | print | markdownify }}</p>
    </div>
    {{ end }}
    {{ with .Site.Params.about.bio_nous_a_blois }}
    <div class="blurb-text">
        <p>{{ . | print | markdownify }}</p>
    </div>
    {{ end }}
</section>
