
<section class="section-before-about">
    <div class="container">
        <img class="mySlides w3-animate-fading" src="img/equipe2017_background.JPG" style="width:100%">
        <div class="myText w3-animate-fading text-block">
            <div>
                <h10>Equipe Rotaractienne 2018</h10>
            </div>
        </div>
        <img class="mySlides w3-animate-fading" src="img/equipe2015_background.JPG" style="width:100%">
        <div class="myText w3-animate-fading text-block">
            <div>
                <h10>Equipe Rotaractienne 2015</h10>
            </div>
        </div>
    </div>
</section>
